@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html {
    --random-color: black;
    --shadow-color: gray;
}

body {
    margin: 0;
    background-color: lightgray;
}

#title {
    display: flex;
    justify-content: center;
    font-size: 72px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background: -webkit-linear-gradient(90deg, #000000, #4b4b4b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sketch {
    display: flex;
    justify-content: center;
}

#side-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    cursor: pointer;
}

#erase-button {
    background-color: #BC2023;
    color: white;
}

#container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 550px;
    width: 550.2px;
}

/* .erase:hover {
    background-color: transparent !important;
} */

.random:hover {
    background-color: var(--random-color) !important;
}

.shadow:hover {
    background-color: var(--shadow-color) !important;
}

.paint:hover {
    background-color: black;
}