body {
    box-sizing: border-box;
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single-block {
    width: calc(100vw / 17);
    height: calc(100vw / 17);
    background-color: aqua;
    border: 1px solid black;
}